<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>


       <!-- link of bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- link of css -->
  <link rel="stylesheet" href="css\style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- link of icon -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- link of poppins font -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=P5oppins:ital,wght@0,300;1,400;1,500;1,800&display=swap" rel="stylesheet">
<!-- aos library animation link -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    opacity: 0.9;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .main_div{
    background-image: url(img/ISABG.png);
    /* background-size: cover; */
    width: 100%;
   padding-bottom: 10%;
  }
  </style>



</head>
<body>
  <div  class="main_div">
<h1 class="regform">Student Registration Form</h1>
<br>



<form action="" onsubmit="reset(); return false;" class=" needs-validation row g-3 " novalidate id="rform" name="myform" >
  <div class="col-lg-10">
  <div class="container">
    <div class=" formdiv col-10">
    <h1>Full Name</h1>
    <hr>
    <label for="firstname" class="form-label">FirstName</label>
    <input name="fname" type="text" class="form-control" id="firstname"  autocomplete="on" >
  </div>

  <div class=" formdiv col-10">
    <label for="lastname" class="form-label">LastName</label>
          <input type="text" class="form-control" id="lastname" autocomplete="on" >
        </div>

        <div class=" formdiv col-10">
          <label class="form-label" for="instausername"> </label>
          <h4 class="heading">INSTAGRAM USERNAME</h4>
            <input type="text" class="form-control" id="instausername" placeholder="Username" autocomplete="on">
          </div>

          <div class=" formdiv col-10">
            <label class="form-label" for="snapusername"> </label>
            <h4 class="heading">SNAPID USERNAME</h4>
           <input type="text" class="form-control" id="snapusername" placeholder="Username" autocomplete="on">  
          </div>

          <div class=" formdiv col-10">
           <label class="form-label" for="inlineFormSelectPref">Degree Program</label>
           <select class="form-select form-set bg-primary" id="inlineFormSelectPref">
             <option  class="bg-light" class="bg-light" selected>Please Select...</option>
             <option  class="bg-light" class="bg-light" value="10th Cleared">10th Cleared</option>
             <option  class="bg-light" class="bg-light" value="12th Cleared">12th Cleared</option>
             <option  class="bg-light" class="bg-light" value="Bachelor degree Cleared">Bachelor degree Cleared</option>
             <option  class="bg-light" class="bg-light" value="Master degree Cleared">Master degree Cleared</option>
           </select>
          </div>

          <div class=" formdiv col-10">
            <label for="inputEmail3" class="form-label">Email</label>
            <input type="email" class="form-control form-set" id="inputEmail3" autocomplete="on" >
</div>
            <div class=" formdiv col-10">
            <label for="phnnumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control form-set"  id="phnnumber" autocomplete="on" oninput="checkMaxLength(this)">
            <span id="Phn" class="text- sucess font-weight-bold"></span> 
            </div>

            <div class=" formdiv col-10">
            <label for="birthdate" class="form-label">Birth Date</label>
        <input type="date" name="birthdate" id="birthdate">
           </div>

        <div class=" formdiv col-10">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main Street" autocomplete="on">
      </div>

        <div class=" formdiv col-10">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" autocomplete="on">
        </div>

        <div class=" formdiv col-10">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" autocomplete="on">
      </div>

        <div class=" formdiv col-10">
        <label class="form-label" for="inlineFormSelect">State</label>
      <select class="form-select form-set bg-primary" id="inlineFormSelect">
        <!-- <option  class="bg-light" class="bg-light" selected>state...</option>
        <option  class="bg-light" class="bg-light" value="1">one</option>
        <option  class="bg-light" class="bg-light" value="2">two</option>
        <option  class="bg-light" class="bg-light" value="3">three</option>
        <option  class="bg-light" class="bg-light" value="4">four</option> -->
      
          <option  class="bg-light" class="bg-light" value="Andhra Pradesh">Andhra Pradesh</option> 
          <option  class="bg-light" class="bg-light"value=" Arunachal Pradesh" > Arunachal Pradesh</option>
          <option  class="bg-light" class="bg-light" value="Assam" >Assam</option>
          <option  class="bg-light"  class="bg-light" value="Bihar">Bihar</option>
          <option  class="bg-light" class="bg-light" value="Chhattisgarh">Chhattisgarh</option>
          <option  class="bg-light"  class="bg-light" value="Goa" >Goa</option>
          <option  class="bg-light" class="bg-light" value=" Gujarat" >  Gujarat</option>
          <option  class="bg-light"  class="bg-light" value=" Haryana" > Haryana</option>
          <option  class="bg-light" value=" Himachal Pradesh" > Himachal Pradesh</option>
          <option  class="bg-light" value=" Jharkhand" > Jharkhand</option>
          <option  class="bg-light" value=" Karnataka" > Karnataka</option>
          <option  class="bg-light" value=" Kerala" > Kerala</option>
          <option  class="bg-light" value="Madhya Pradesh" >Madhya Pradesh</option>
          <option  class="bg-light" value="Maharashtra" >Maharashtra</option>
          <option  class="bg-light" value="Manipur" >Manipur</option>
          <option  class="bg-light" value="Meghalaya" >Meghalaya</option>
          <option  class="bg-light" value="Mizoram" > Mizoram</option>
          <option  class="bg-light" value="Nagaland" >Nagaland</option>
          <option  class="bg-light" value="Odisha" >Odisha</option>
          <option  class="bg-light" value="Punjab" >Punjab</option>
          <option  class="bg-light" value="Rajasthan" >Rajasthan</option>
          <option  class="bg-light" value="Sikkim" >Sikkim</option>
          <option  class="bg-light" value="Tamil Nadu" >Tamil Nadu</option>
          <option  class="bg-light" value="Telangana" >Telangana</option>
          <option  class="bg-light" value="Tripura" >Tripura</option>
          <option  class="bg-light" value=" Uttar Pradesh" > Uttar Pradesh</option>
          <option  class="bg-light" value=" Uttarakhand" >  Uttarakhand</option>
          <option  class="bg-light" value=" West Bengal" > West Bengal</option>
          <option  class="bg-light" value=" Union Ter" >  Union Ter</option>
      </select>
    </div>
<br>
<div class=" formdiv col-10">
      <h4 class="heading">Emergency Contact</h4><br>
      <label for="EFname" class="form-label">FirstName</label>
      <input type="text" class="form-control" id="EFname" autocomplete="on">
    
    </div>

      <div class=" formdiv col-10">
      <label for="ELname" class="form-label">LastName</label>
      <input type="text" class="form-control" id="ELname" autocomplete="on">
    </div>

      <div class=" formdiv col-10">
      <label for="gender" class="form-label">Relationship</label>
      <input type="text" class="form-control" id="gender" placeholder="ex.Father,Mother,etc" autocomplete="on">
    </div>
    
    <!-- pattern="[1-9]{1}[0-9]{9}" -->
      <div class=" formdiv col-10">
      <label for="number" class="form-label">Phone Number Of Person To Contact In Case Of Emergency</label>
         <input type="number" class="form-control form-set" id="number" placeholder="(000)000-000" autocomplete="on"  oninput="checkMaxLength(this)">
        </div>

        <!-- maxlength="10" -->
         <div class=" formdiv col-10">
         <label for="name" class="form-label">High School Name/Colege Name</label>
         <input type="text" class="form-control" id="name" autocomplete="on">
        </div>

         <div class=" formdiv col-10">
         <h4 class="heading">You Have Laptop?</h4>
         <input class=" form-control form-check-input" type="checkbox" value="" id="flexCheckDefault" >
         <label class="form-check-label" for="flexCheckDefault">
        </div>

          <div class=" formdiv col-10">
          <label for="exampleFormControlTextarea1" class="form-label">Any things you want to Says:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"  autocomplete="on"></textarea>
        </div>


      <div class=" formdiv col-10">
      <h4 class="heading">Are You SC(Scheduled Castes)/ST(Scheduled Tribes)/OBC(Other Background Classes)?</h4>
      <input class=" form-control form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" >
      <label class="form-check-label" for="inlineRadio1">yes</label>
    </div>

      <div class=" formdiv col-10">
      <input class="form-control form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">No</label>
      </div>

      <div class=" formdiv col-10">
      <label for="exampleFormControlTextarea1" class="form-label">What is Your Goal In Life/Any Dream Which You Want To Succed In Your Life?</label>
      <textarea  class="form-control" id="exampleFormControlTextarea2" rows="4"></textarea>
    </div>
    
  </div>
  
  <div class="container signin">
    <button onclick="validatedata()" class="btn" type="submit" id="sbmbtn">Submit</button>
  </div>
</div>
</form>


    <script src="js\script.js"></script>
   <script src=" https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>